body{
    font-size: 30px;
}
a{
    text-decoration: none;
    line-height: 50px;
    /*margin: 20px;*/
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
}
li{
    list-style-type: none;
    display: inline;
    /*background-color: blueviolet;*/
    padding: 0px 30px;
}
ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: yellow;
}
input:focus{
    background-color: yellow;
}
}